body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.texts {
    display: flex;
}

#text-left {
    background-color: rgb(126, 103, 242);
}

#text-right {
    background-color:rgb(156, 216, 253);
}
.text {
    width: 30%;
    padding: 13% 10%;
}

.img {
    background-color:rgb(14, 166, 197);
    padding: 2%;
    text-align: center;
}
